@media only screen and (min-width: 600px) {
    .clsAlertBox {
        background-color: #afa;
        color: black;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        left: 30vw;
        top: 30vh;
        width: 40vw;
        height: 30vh;
        z-index: 10001;
        border-radius: 20px;
        padding: 0px;
        border: 1px solid #040;
        box-shadow: 0px 0px 30px 0px;
    }

    .clsAlertTitle {
        border-radius: 17px 17px 0px 0px;
        padding: 10px;
        border-bottom: 1px solid #040;
        background: linear-gradient(90deg, #0a0, #030);
        color: white;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-shadow: 1px 1px 10px black;
    }

    .clsShadow {
        background-color: black;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        opacity: 0.5;
        z-index: 10000;
    }

    .clsImgLoading {
        position: absolute;
        left: 30vw;
        top: 30vh;
        width: 40vw;
        height: 40vh;
        z-index: 10001;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .clsAlertBox {
        background-color: #afa;
        color: black;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        left: 0vw;
        top: 0vh;
        width: 100vw;
        height: 100vh;
        z-index: 10001;
    }

    .clsImgLoading {
        position: absolute;
        left: 0vw;
        top: 0vh;
        width: 100vw;
        height: 100vh;
        z-index: 10001;
        text-align: center;
    }

    .clsAlertTitle {
        padding: 10px;
        border-bottom: 1px solid #040;
        background: linear-gradient(90deg, #0a0, #030);
        color: white;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-shadow: 1px 1px 10px black;
    }
}

.clsMessage {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
}